.menuElement {
  display: block;
  margin: 0;
  padding: 15px 30px;
  font-size: 30px;
  color: #c7c7c7;
  letter-spacing: 3px;
  text-decoration: none;
  transition: 0s;
  &:hover {
    color: #3a3d45;
    background: #c7c7c7;
    transition: 0.5s
  }
}
