@import "breakpoints";

.viewBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include lg {
    height: 90vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

