.borderControls {
  height: 100%;
  width: 100%;

  .mode {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    text-align: left;

    .radiusTypes {
      display: flex;

      div {
        margin: 10px 20px 10px 0;

        label {
          margin-right: 10px;
        }
      }
    }
  }
}
