.viewElement {
  height: 90%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px 0 20px 0;
  position: relative;
  z-index: 2;
  color: #3a3d45;
  background-color: rgba(232, 232, 232, 0.49);
  border-radius: 10px;
  box-shadow: 0 0 55px 14px rgba(80, 80, 80, 0.68);
  text-align: left;
  overflow: auto;

  h3 {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 30px;
  }

  &.sample {
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
    overflow: hidden;

    & > div {
      width: 100%;
    }

    div:first-child {
      height: 50%;
      div {
        height: 250px;
        width: 250px;
        background: #683468;
        margin: 40px auto;
      }
    }

    div:last-child {
      height: 40%;
      width: 100%;
      //align-items: flex-start;
    }
  }
}

