@import "breakpoints";

.home {
  margin: 0 auto;
  padding-top: 80px;
  font-size: 30px;
  text-align: center;

  @include md {
    width: 80%;
  }

  h3 {
    padding: 20px 0;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 20px;

    @include md {
      width: 70%;
      margin: 0 auto;
      letter-spacing: 3px;
    }

    @include lg {
      width: 50%;
    }
  }

  .links {
    margin: 30px auto;
    @include md {
      width: 60%;
    }

    a {
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #3a3d45;
      color: #c7c7c7;
      font-size: 25px;
      letter-spacing: 1px;
      border: 2px solid #c7c7c7;
      border-radius: 5px;
      text-decoration: none;
      transition: 0s;
      &:hover {
        background-color: #c7c7c7 ;
        color: #3a3d45;
        transition: 0.5s;
      }
    }
  }
}
